body {
    background-color: rgb(255, 94, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 1.8in;
    margin-right: 1.8in;
    }
.header {
    font-size: 75px;
}

    div.centered {
        text-align: center;
    }