body {
    background-color:rgb(205, 255, 209);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 1.8in;
    margin-right: 1.8in;
    }
.header {
    font-size: 75px;
}

    div.centered {
        text-align: center;
    }