body {
background-color: aqua;
}

{margin:auto;}

.title {
    font-size: 75px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: royalblue;
    text-align: center;
    letter-spacing: 5px;
}

}
.container {
margin: 25px;
width: 700px;
height: auto;
justify-content: right;
}
